<style type="text/css">
	.pagination {
		margin-top: 13px;
		margin-bottom: 0;
	}
	.project-query {
		height: 68px;
	}
	.menu {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.menu .btn {
		margin-top: 12px;
		margin-bottom: 12px;
	}
	.query-params {
		float: left;
		text-align: left;
		position: relative;
	}
	.query-params .job-name {
		float: left;
	}
	.query-params .job-name span.text, .query-params .job-state span.text {
		display: inline-block;
		height: 32px;
		line-height: 32px;
		margin-right: 10px;
	}
	.query-params .job-name .query-input {
		width: 280px;
		height: 30px;
		background: #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 2px;
		font-size: 12px;
		padding-left: 10px;
	}
	.query-params .job-state {
		float: left;
		margin-left: 20px;
	}
	.query-params .job-state .query-select {
		width: 183px;
		height: 30px;
		background: #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 2px;
		font-size: 12px;
		color: #333;
		padding-left: 10px;
	}
	.query-params .job-state .query-select option {
		line-height: 30px;
		border: 1px solid #ccc;
	}
	.query-params .search {
		float: left;
		margin-left: 20px;
		width: 82px;
		height: 30px;
		background: #2AB5E6;
		border: none;
		box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.10);
		border-radius: 37px;
		cursor: pointer;
		color: #FFFFFF;
	}
	.query-params .search span {
		padding-right: 5px;
	}
	.nodata {
		padding: 50px 0;
	}
	.detail-box {
		transition: all linear 0.3s;
		width: 380px;
		background: #FFFFFF;
		box-shadow: -2px 0 8px 0 rgba(0, 0, 0, 0.11);
		position: fixed;
		top: 72px;
		right: 0;
		bottom: 0;
		z-index: 99999;
		padding: 0 20px;
	}
	.detail-box.ng-hide {
		right: -380px;
	}
	.detailtitle {
		margin-top: 15px;
		text-align: left;
	}
	.detailtitle .title {
		border-left: 4px solid #2AB5E6;
		padding-left: 6px;
	}
	.detailtitle .close {
		float: right;
		cursor: pointer;
	}
	.detailcontent {
		padding: 0 10px;
	}
	.detailitem {
		width: 100%;
		margin-top: 10px;
		text-align: left;
	}
	.detailitem .itemtitle {
		width: 100%;
		height: 32px;
		line-height: 32px;
		font-size: 14px;
		color: #333;
		border-bottom: 1px dashed #CCCCCC;
	}
	.detailitem .itemtitle span {
		margin-right: 10px;
	}
	.detailitem .itemcontent {
		width: 100%;
		height: 38px;
		line-height: 38px;
		margin-top: 15px;
		box-sizing: border-box;
		padding-left: 8px;
		background: #FAFBFE;
		border: 1px solid #CCCCCC;
		border-radius: 2px;
		font-size: 12px;
		color: #333333;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.detailitem .itemcontent2 {
		width: 100%;
		max-height: 188px;
		min-height: 38px;
		margin-top: 15px;
		line-height: 20px;
		padding: 10px;
		box-sizing: border-box;
		background: #FAFBFE;
		border: 1px solid #CCCCCC;
		border-radius: 2px;
		font-size: 12px;
		color: #333333;
		word-wrap: break-word;
		word-break: break-all;
		white-space: pre-wrap !important;
		overflow: hidden;
		overflow-y: auto;
	}
	.play-job {
		margin-right: 10px;
	}
	.fa-stop {
		color: #E26060;
	}
	.fa-play {
		color: #43DF91;
	}
	.detailbtn {
		color: #2AB5E6;
		text-decoration: underline;
	}
	.detailbtn:hover {
		text-decoration: underline;
	}
	.caret {
		width: 30px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		font-size: 12px;
		color: #2AB5E6;
		cursor: pointer;
	}
	tr.subjobs {
		width: 100%;
		background: #F9F9F9 !important;
		border: none;
	}
	tr.subjob-more {
		background: #F9F9F9 !important;
	}
	.project-list th {
		width: 20%;
	}
	.project-list tr {
		height: 28px;
		line-height: 28px;
	}
	.project-list tr:hover {
		background-color: #fafafa;
	}
	.project-list tr.runing:hover, .project-list tr.success:hover, .project-list tr.failed:hover {
		background-color: #fafafa;
	}
	.project-list tr.runing {
		background: #FFFFFF;
	}
	.project-list tr.success {
		background: rgba(46, 202, 124, 0.10);
	}
	.project-list tr.failed {
		background: rgba(226, 96, 96, 0.10);
	}
	.project-list tr td.runing {
		color: #333333;
	}
	.project-list tr td.success {
		color: #2ECA7C;
	}
	.project-list tr td.failed {
		color: #E26060;
	}
	.project-list {
		width: 98%;
		margin-top: 15px;
		margin-left: 14px;
	}
</style>
<div class="project-box">
	<div class="path">
		<a ui-sref='app.project'>项目管理</a> \
		<a ui-sref='app.jobs({projectId:projectId,projectName:projectName})'>{{projectName}}</a> \ 运行记录</div>
	<div class="menu">
		<div class="query-up"><span>{{jobName}}</span></div>
		<table class="project-list">
			<thead>
				<tr>
					<th>运行状态</th>
					<th>运行结果</th>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody ng-repeat="record in runRecordList" ng-init="outerIndex = $index">
				<tr ng-class="{success:record.jobStatusCode == 'DONE', runing:record.jobStatusCode == 'RUNNING', failed:record.jobStatusCode == 'FAILED'}">
					<td class="success" ng-if="record.jobStatusCode == 'DONE'">成功</td>
					<td class="failed" ng-if="record.jobStatusCode == 'FAILED'">失败</td>
					<td class="runing" ng-if="record.jobStatusCode == 'RUNNING'">运行中</td>
					<td>{{record.jobStatusDescription}}</td>
					<td>{{record.jobStartTime}}</td>
					<td>{{record.jobEndTime}}</td>
					<td>
						<a class="fa fa-list-alt" title="查看日志 " ng-click="lookLog(record.id)"></a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 分页 控件-->
		<my-pager pager="pager"></my-pager>
		<!--无数据-->
		<div class="nodata" ng-show="isPagination">
			<img src="./statics/img/nojob.png" alt="无数据" />
		</div>
	</div>
</div>